@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400;700;900&family=Playfair+Display:ital,wght@1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Anton", sans-serif;
  --font-serif: "Playfair Display", serif;
  
  --animate-shine: shine 3s linear infinity;

  @keyframes shine {
    from {
      background-position: 0% center;
    }
    to {
      background-position: -200% center;
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .animate-shine {
    animation: shine 3s linear infinite;
  }
}

@utility scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

